.bg-box, .banner-box{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fafafa;
	z-index: -1;
	top: 0;
    left: 0;
}
.banner-box{
	/*background-image: url('/static/img/bg1.jpg');*/
}
.bg-box{
	/*background-image: url('/static/img/bg1.jpg');*/
	/*opacity: .9;*/
	background-size: cover;
	/*background-position: center;*/
}
.container{
	        position: absolute;
		    width: 600px;
		    left: 50%;
		    top: 50%;
		    background: rgba(19, 17, 17, 0.6);
		    padding: 25px;
		    transform: translate(-50%, -50%);
		    border-radius: 1px;
}
.container a{
	color: #fff;
	margin: 0 10px;
}
.xb-search-form:hover{

}
.xb-search{
	width: 0;
	cursor: pointer;
    border-radius: 18px !important;
    padding: 0 !important;
    background: rgba(64, 64, 64, 0.7) !important;
    color: #fff !important;
    transition: all .2s;
}
.xb-search:hover{
	width: 100%;
}
.xb-search-form i{
	cursor: pointer;
}
.xb-header-box{
	
    background-image: url('/static/img/head-bg.png');
	opacity: .9;
	background-size: cover;
}
.xb-header{
	    height: 120px;
	    padding-top: 20px;
}
small{
	font-size: 70%;
}
.xb-nav-box{
	    //background: rgba(177, 201, 245, 0.19);
    //border-bottom: 6px solid rgba(9, 85, 243, 0.39);
    background: rgba(70, 70, 70, 0.54);
    border-bottom: 6px solid rgb(9, 85, 243);
}
.xb-navbar{
		background: transparent;
		padding: 10px 0;
}
.xb-navbar-nav>li>a{
	color: #dcdcdc;
}
.xb-navbar-nav>li.uk-active>a, .xb-navbar-nav>li:hover>a{
	background: transparent;
	color: #07d;
}
.xb-box-shadow{
	    box-shadow: 0 0 1px 1px rgba(51, 153, 255, 0.46);
}

.xb-btn{
	    border: 1px dashed;
    padding: 15px 25px;
        color: #07d;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 10px;
    display: inline-block;
    transition: all .5s;
}
.xb-btn:hover{
	text-decoration: none;
	background-color: #47a7f9;
	color: #fff;
}

.xb-btn-tag{
	    padding: 0 12px;
	    margin: 0px 5px 5px 0;
	    background-color: transparent;
	    transition: all .5s;
}
.xb-btn-tag:hover{
	
}

.xb-comment-form{

}
.xb-comment-form textarea{
	width: 100%;
	min-height: 100px;
	max-width: 100%;
}

.xb-comment-form button{
	    letter-spacing: 15px;
	    width: 100%;
}

.xb-footer{

}
